{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<div class="menu">
    <div class="container">
        <div class="row ">
            <div class="col-10 mt-4">
                <p class="title">
                    Sentiu falta de algo?
                </p>
                <p class="text">Mande uma mensagem para:joaozinho@gmail.com</p>
            </div>
            <div class="col-2 mt-4">
                <p class="title">
                    PUC-Finder
                </p>
                <p class="text">Voltar para o topo</p>
            </div>
        </div>
    </div>
</div>
